body {
	margin: 0;
	background-color: #333642;
	color: #fff;
	text-align: center;
}

#name {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	width: 160px;
	margin: 5px;
	padding: 25px;
	border-radius: 20px;
	background-color: #1d1e22;
}

.card input {
	height: 25px;
	width: 25px;
}

.timeslot {
	display: flex;
	justify-content: space-evenly;
	border: solid #fff 0.05px;
	border-radius: 5px;
	margin: 5px;
	position: relative;
}

.timeslot::before {
	display: block;
	content: attr(data-before);
	position: absolute;
	background-color: #989898;
	right: 0;
	height: 13px;
	width: 15px;
	font-size: 10px;
	border-radius: 5px;
	color: black;
	padding-top: 2.5px;
}

.timeslot[data-before="0"]::before {
	display: none;
}

button {
	padding: 10px;
	display: block;
	margin: 10px auto;
	text-transform: uppercase;
}

span {
	padding-top: 7px;
	padding-bottom: 7px;
}

footer {
	position: sticky;
	bottom: 0px;
	background-color: #24262e;
	padding: 5px;
}

.tooltip {
	position: relative;
	display: inline-block;
}
  
.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover > .tooltiptext {
	visibility: visible;
}