body {
	margin: 0;
	background-color: #333642;
	color: #fff;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	width: 160px;
	margin: 5px;
	padding: 25px;
	border-radius: 20px;
	background-color: #1d1e22;
}

.card input {
	height: 25px;
	width: 25px;
}

button {
	padding: 10px;
	display: block;
	margin: 10px auto;
	text-transform: uppercase;
}
